DEPLOYER_PRIVATE_KEY=
PRICE_PUSHER_PRIVATE_KEY=
HASHKEY_MAINNET_RPC=https://mainnet.hsk.xyz
HASHKEY_TESTNET_RPC=https://testnet.hsk.xyz
CHAINLINK_ETH_USD_FEED=
PYTH_PRICE_SERVICE_URL=https://hermes.pyth.network
COINGECKO_API_KEY=
FEE_RECIPIENT_ADDRESS=
USDC_ADDRESS_HASHKEY=
NEXT_PUBLIC_ORACLE_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=177
NEXT_PUBLIC_RPC_URL=https://mainnet.hsk.xyz
