DEPLOYER_PRIVATE_KEY=434ae3fd0aea994183946e38f683575d1843a6230d7289a1ce18154a803b9acd
PRICE_PUSHER_PRIVATE_KEY=434ae3fd0aea994183946e38f683575d1843a6230d7289a1ce18154a803b9acd
HASHKEY_MAINNET_RPC=https://mainnet.hsk.xyz
HASHKEY_TESTNET_RPC=https://testnet.hsk.xyz

# Supra Pull Oracle (HashKey Chain)
SUPRA_PULL_ORACLE_TESTNET=0x443A0f4Da5d2fdC47de3eeD45Af41d399F0E5702
SUPRA_STORAGE_TESTNET=0x6Cd59830AAD978446e6cc7f6cc173aF7656Fb917
SUPRA_PULL_ORACLE_MAINNET=0x16f70cAD28dd621b0072B5A8a8c392970E87C3dD
SUPRA_STORAGE_MAINNET=0x58e158c74DF7Ad6396C0dcbadc4878faC9e93d57

# Legacy oracle config
CHAINLINK_ETH_USD_FEED=
PYTH_PRICE_SERVICE_URL=https://hermes.pyth.network
COINGECKO_API_KEY=

# Deployment config
FEE_RECIPIENT_ADDRESS=
PRICE_PUSHER_ADDRESS=
USDC_ADDRESS_HASHKEY=

# Frontend / SDK (populated after deploy)
NEXT_PUBLIC_ORACLE_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=133
NEXT_PUBLIC_RPC_URL=https://testnet.hsk.xyz
